altgraph==0.17.3
future==0.18.2
guidata==2.3.1
guiqwt==4.3.1
numpy==1.23.4
packaging==21.3
pefile==2022.5.30
Pillow==9.3.0
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
pyparsing==3.0.9
pyqt-tools==1.0.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PythonQwt==0.10.2
pywin32-ctypes==0.2.0
QtPy==2.3.0
scipy==1.9.3
